@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "Add Content";
}
<link rel="stylesheet" type="text/css" href="~/StyleSheets/PickIngredientsView.css">
<title>@ViewBag.Title</title>

<div class="container-fluid feature">
    <p class="titleText">Add Content</p>
    <ul class="noBulletList">
        <li>
            <a href="@Url.Action("PickIngredients", "Ingredient")">ADD RECIPE</a>
        </li>
        <li>
            <a href="@Url.Action("PickIngredients", "Ingredient")">EDIT RECIPE</a>
        </li>
        <li>
            <a href="@Url.Action("PickIngredients", "Ingredient")">VIEW RECIPE</a>
        </li>
        <li>
            <a href="@Url.Action("PickIngredients", "Ingredient")">ADD INGREDIENTS</a>
        </li>
        <li>
            <a href="@Url.Action("PickIngredients", "Ingredient")">EDIT INGREDIENTS</a>
        </li>
        <li>
            <a href="@Url.Action("IngredientContentList", "IngredientContent")">VIEW INGREDIENTS</a>
        </li>
    </ul>
</div>

